.color-name{
    color:gold;
}
h1{
    color:darkblue;
}
.p{
    color:balck;
}
.slideSection{
    background-color:#f5e3e3;
    border-radius:1em;

}
.rpImg{
    width:130px;
}
.rpImgB{
    height: 300px;
}
h5{
    color:lightcoral;
}
.Container1 img{
    width:345px!important;
    height:300px!important;
    background-color:lightcyan!important;
}
.card{
    border-radius: 20px;
}
h3{
    color:darkgreen;
}
.card-footer{
    background-color:white!important;
    border:0px!important;
    border-radius:15px!important;
}